<html>
<%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="not-found content">
        <h2>Page not found</h2>
        <p>These are not the pages you're looking for.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>